<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>your username</username>
      <password>your password</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>ossrh</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>gpg2</gpg.executable>
        <gpg.passphrase>your gpg passphrase</gpg.passphrase>
      </properties>
    </profile>
  </profiles>
</settings>
